[submodule "deps/mathpaqs"]
	path = deps/mathpaqs
	url = https://github.com/ohenley/mathpaqs
	branch = master
[submodule "deps/qt5ada"]
	path = deps/qt5ada
	url = https://github.com/ohenley/qt5ada
	branch = master
