[Desktop Entry]
Name=COVID-19 Simulator
Comment=Qt5 COVID-19 simulator. Ada code under the hood.
Exec=covidsim
Terminal=true
Type=Application
Categories=Science;

